body {
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    background-color: rgb(223, 223, 223);
}

.container-lg {
    background-color: rgb(214, 195, 195);
    padding: 20px;
    border-radius: 0px;
}

.container {
    background-color: rgb(175, 192, 164);
    padding: 10px;
    text-align: center;
    border-radius: 0px;
}

.text1 {
    color: rgb(0, 0, 0);
}

#mainBody {
    display:flex
}